button:hover {
	cursor: pointer;
}

.get-started-button {
	width: 100px;
	height: 50px;
	background-color: green;
	color: white;
	border-radius: 10px;
}

.vertical-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 200px;
}
