<!DOCTYPE html>
<html>
	<head>
		<title>Mushroom predictor</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
	</head>
	<body>
		<h1>Home</h1>
		<p>
			Are you sure you <u><b>don't</b></u> want to buy our book?
		</p>
		<form action="/more-user-data" method="post">
			<button id="deny-button" name="action" value="deny" class="deny-button" type="submit">Yes, I am sure I don't want to buy the book</button>
			<button name="action" value="confirm" class="confirm-button" type="submit">Yes, I want to buy the book</button>
		</form>

		<script>
			const denyButton = document.getElementById("deny-button");

			denyButton.setAttribute("aria-disabled", "true");
			denyButton.classList.add("deny-button-disabled");

			denyButton.addEventListener("click", (e) => {
				if (denyButton.getAttribute("aria-disabled") === "true") {
					e.preventDefault();
					alert("This button is currently disabled. Please wait 15 seconds");
				}
			});

			denyButton.addEventListener("mouseenter", () => {
				if (denyButton.getAttribute("aria-disabled") === "true") {
					alert("This button is currently disabled. Please wait 15 seconds");
				}
			});

			setTimeout(() => {
				denyButton.removeAttribute("aria-disabled");
				denyButton.classList.remove("deny-button-disabled");
			}, 15000);
		</script>

		{% include "components/bottom-bar.html" %}
	</body>
</html>
