<!DOCTYPE html>
<html>
	<head>
		<title>Mushroom predictor</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
	</head>
	<body>
		{% include "components/promo.html" %}

		<script>
			document.addEventListener("DOMContentLoaded", function () {
				document.getElementById("mushroom-form").onsubmit = function (event) {
					event.preventDefault();

					while (!window.confirm("Please buy our book. It helps to keep this site active")) {}

					event.target.submit();
				};
			});
		</script>

		{% include "components/shopping-cart.html" %}
		<h1>Mushroom characteristics</h1>
		<p onclick="window.location='/why-these-questions'" class="clickable">Which fields are required?</p>
		<form id="mushroom-form" method="POST" action="/predict">
			<div class="vertical-group">
				<input type="number" id="cap-diameter" name="cap-diameter" min="0" step="0.1" placeholder="Cap Diameter (cm)" />

				<select id="cap-shape" name="cap-shape">
					<option value="">Cap Shape</option>
					<option value="b">Bell</option>
					<option value="c">Conical</option>
					<option value="x">Convex</option>
					<option value="f">Flat</option>
					<option value="s">Sunken</option>
					<option value="o">Spherical</option>
					<option value="p">Plate</option>
				</select>

				<input type="number" id="stem-height" name="stem-height" min="0" step="0.1" placeholder="Stem Height (cm)" />

				<input type="number" id="stem-width" name="stem-width" min="0" step="0.1" placeholder="Stem Width (cm)" />

				<select id="stem-surface" name="stem-surface">
					<option value="">Stem Surface</option>
					<option value="s">Smooth</option>
					<option value="y">Scaly</option>
					<option value="i">Indented</option>
					<option value="t">Tap</option>
					<option value="g">Grooves</option>
					<option value="k">Knobbed</option>
					<option value="f">Fibrous</option>
					<option value="h">Hairy</option>
					<option value="Missing">Missing</option>
				</select>

				<select id="stem-color" name="stem-color">
					<option value="">Stem Color</option>
					<option value="w">White</option>
					<option value="n">Brown</option>
					<option value="y">Yellow</option>
					<option value="g">Gray</option>
					<option value="o">Orange</option>
					<option value="e">Red</option>
					<option value="u">Purple</option>
					<option value="f">Buff</option>
					<option value="p">Pink</option>
					<option value="k">Black</option>
					<option value="r">Green</option>
					<option value="l">Lilac</option>
					<option value="b">Beige</option>
				</select>

				<select id="spore-print-color" name="spore-print-color">
					<option value="">Spore Print Color</option>
					<option value="k">Black</option>
					<option value="p">Purple</option>
					<option value="w">White</option>
					<option value="n">Brown</option>
					<option value="g">Green</option>
					<option value="u">Lilac</option>
					<option value="r">Red</option>
					<option value="Missing">Missing</option>
				</select>

				<button type="submit" class="predict-btn">Predict</button>
			</div>
		</form>

		{% include "components/bottom-bar.html" %}
	</body>
</html>
