<!DOCTYPE html>
<html>
	<head>
		<title>Mushroom predictor</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
	</head>
	<body>
		<form method="POST" action="/predict">
			<div>
				<label for="cap-diameter">Cap Diameter (cm)</label>
				<input type="number" id="cap-diameter" name="cap-diameter" min="0" step="0.1" />
			</div>

			<div>
				<label for="cap-shape">Cap Shape</label>
				<select id="cap-shape" name="cap-shape">
					<option value="">--Select--</option>
					<option value="b">Bell</option>
					<option value="c">Conical</option>
					<option value="x">Convex</option>
					<option value="f">Flat</option>
					<option value="s">Sunken</option>
					<option value="o">Spherical</option>
				</select>
			</div>

			<div>
				<label for="cap-surface">Cap Surface</label>
				<select id="cap-surface" name="cap-surface">
					<option value="">--Select--</option>
					<option value="s">Smooth</option>
					<option value="y">Scaly</option>
					<option value="f">Fibrous</option>
					<option value="h">Hairy</option>
				</select>
			</div>

			<div>
				<label for="cap-color">Cap Color</label>
				<select id="cap-color" name="cap-color">
					<option value="">--Select--</option>
					<option value="n">Brown</option>
					<option value="w">White</option>
					<option value="e">Red</option>
					<option value="y">Yellow</option>
					<option value="g">Gray</option>
					<option value="p">Pink</option>
					<option value="b">Buff</option>
					<option value="l">Lilac</option>
				</select>
			</div>

			<div>
				<label for="gill-attachment">Gill Attachment</label>
				<select id="gill-attachment" name="gill-attachment">
					<option value="">--Select--</option>
					<option value="f">Free</option>
					<option value="a">Attached</option>
					<option value="d">Descending</option>
				</select>
			</div>

			<div>
				<label for="gill-spacing">Gill Spacing</label>
				<select id="gill-spacing" name="gill-spacing">
					<option value="">--Select--</option>
					<option value="c">Close</option>
					<option value="d">Distant</option>
					<option value="f">Far</option>
				</select>
			</div>

			<div>
				<label for="gill-color">Gill Color</label>
				<select id="gill-color" name="gill-color">
					<option value="">--Select--</option>
					<option value="w">White</option>
					<option value="n">Brown</option>
					<option value="k">Black</option>
					<option value="p">Pink</option>
					<option value="g">Gray</option>
					<option value="u">Purple</option>
				</select>
			</div>

			<div>
				<label for="stem-height">Stem Height (cm)</label>
				<input type="number" id="stem-height" name="stem-height" min="0" step="0.1" />
			</div>

			<div>
				<label for="stem-width">Stem Width (cm)</label>
				<input type="number" id="stem-width" name="stem-width" min="0" step="0.1" />
			</div>

			<div>
				<label for="stem-root">Stem Root</label>
				<select id="stem-root" name="stem-root">
					<option value="">--Select--</option>
					<option value="b">Bulbous</option>
					<option value="c">Club</option>
					<option value="r">Rooted</option>
					<option value="f">Flat</option>
					<option value="Missing">Missing</option>
				</select>
			</div>

			<div>
				<label for="stem-surface">Stem Surface</label>
				<select id="stem-surface" name="stem-surface">
					<option value="">--Select--</option>
					<option value="s">Smooth</option>
					<option value="y">Scaly</option>
					<option value="i">Indented</option>
					<option value="f">Fibrous</option>
				</select>
			</div>

			<div>
				<label for="stem-color">Stem Color</label>
				<select id="stem-color" name="stem-color">
					<option value="">--Select--</option>
					<option value="w">White</option>
					<option value="n">Brown</option>
					<option value="e">Red</option>
					<option value="y">Yellow</option>
					<option value="g">Gray</option>
					<option value="f">Buff</option>
				</select>
			</div>

			<div>
				<label for="veil-type">Veil Type</label>
				<select id="veil-type" name="veil-type">
					<option value="">--Select--</option>
					<option value="u">Universal</option>
				</select>
			</div>

			<div>
				<label for="veil-color">Veil Color</label>
				<select id="veil-color" name="veil-color">
					<option value="">--Select--</option>
					<option value="w">White</option>
					<option value="y">Yellow</option>
					<option value="n">Brown</option>
					<option value="u">Purple</option>
				</select>
			</div>

			<div>
				<label for="has-ring">Has Ring</label>
				<select id="has-ring" name="has-ring">
					<option value="">--Select--</option>
					<option value="t">Yes</option>
					<option value="f">No</option>
				</select>
			</div>

			<div>
				<label for="ring-type">Ring Type</label>
				<select id="ring-type" name="ring-type">
					<option value="">--Select--</option>
					<option value="p">Pendant</option>
					<option value="f">Flaring</option>
					<option value="l">Large</option>
					<option value="Missing">Missing</option>
				</select>
			</div>

			<div>
				<label for="spore-print-color">Spore Print Color</label>
				<select id="spore-print-color" name="spore-print-color">
					<option value="">--Select--</option>
					<option value="k">Black</option>
					<option value="n">Brown</option>
					<option value="u">Purple</option>
					<option value="w">White</option>
					<option value="g">Green</option>
				</select>
			</div>

			<div class="full-width">
				<button type="submit" class="predict-btn">Predict</button>
			</div>
		</form>

		{% include "components/bottom-bar.html" %}
	</body>
</html>
