<!DOCTYPE html>
<html>
	<head>
		<title>Mushroom predictor</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
	</head>
	<body>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				document.getElementById("mushroom-form").onsubmit = function (event) {
					event.preventDefault();

					while (!window.confirm("Please buy our book. It helps to keep this site active")) {}

					event.target.submit();
				};
			});
		</script>

		{% include "components/shopping-cart.html" %}
		<form id="mushroom-form" method="POST" action="/predict">
			<div class="vertical-group">
				<input type="number" id="cap-diameter" name="cap-diameter" min="0" step="0.1" placeholder="Cap Diameter (cm)" />

				<select id="cap-shape" name="cap-shape">
					<option value="">Cap Shape</option>
					<option value="b">Bell</option>
					<option value="c">Conical</option>
					<option value="x">Convex</option>
					<option value="f">Flat</option>
					<option value="s">Sunken</option>
					<option value="o">Spherical</option>
				</select>

				<select id="cap-surface" name="cap-surface">
					<option value="">Cap Surface</option>
					<option value="s">Smooth</option>
					<option value="y">Scaly</option>
					<option value="f">Fibrous</option>
					<option value="h">Hairy</option>
				</select>

				<select id="cap-color" name="cap-color">
					<option value="">Cap Color</option>
					<option value="n">Brown</option>
					<option value="w">White</option>
					<option value="e">Red</option>
					<option value="y">Yellow</option>
					<option value="g">Gray</option>
					<option value="p">Pink</option>
					<option value="b">Buff</option>
					<option value="l">Lilac</option>
				</select>

				<select id="gill-attachment" name="gill-attachment">
					<option value="">Gill Attachment</option>
					<option value="f">Free</option>
					<option value="a">Attached</option>
					<option value="d">Descending</option>
				</select>

				<select id="gill-spacing" name="gill-spacing">
					<option value="">Gill Spacing</option>
					<option value="c">Close</option>
					<option value="d">Distant</option>
					<option value="f">Far</option>
				</select>

				<select id="gill-color" name="gill-color">
					<option value="">Gill Color</option>
					<option value="w">White</option>
					<option value="n">Brown</option>
					<option value="k">Black</option>
					<option value="p">Pink</option>
					<option value="g">Gray</option>
					<option value="u">Purple</option>
				</select>

				<input type="number" id="stem-height" name="stem-height" min="0" step="0.1" placeholder="Stem Height (cm)" />

				<input type="number" id="stem-width" name="stem-width" min="0" step="0.1" placeholder="Stem Width (cm)" />

				<select id="stem-root" name="stem-root">
					<option value="">Stem Root</option>
					<option value="b">Bulbous</option>
					<option value="c">Club</option>
					<option value="r">Rooted</option>
					<option value="f">Flat</option>
					<option value="Missing">Missing</option>
				</select>

				<select id="stem-surface" name="stem-surface">
					<option value="">Stem Surface</option>
					<option value="s">Smooth</option>
					<option value="y">Scaly</option>
					<option value="i">Indented</option>
					<option value="f">Fibrous</option>
				</select>

				<select id="stem-color" name="stem-color">
					<option value="">Stem Color</option>
					<option value="w">White</option>
					<option value="n">Brown</option>
					<option value="e">Red</option>
					<option value="y">Yellow</option>
					<option value="g">Gray</option>
					<option value="f">Buff</option>
				</select>

				<select id="veil-type" name="veil-type">
					<option value="">Veil Type</option>
					<option value="u">Universal</option>
				</select>

				<select id="veil-color" name="veil-color">
					<option value="">Veil Color</option>
					<option value="w">White</option>
					<option value="y">Yellow</option>
					<option value="n">Brown</option>
					<option value="u">Purple</option>
				</select>

				<select id="has-ring" name="has-ring">
					<option value="">Has Ring</option>
					<option value="t">Yes</option>
					<option value="f">No</option>
				</select>

				<select id="ring-type" name="ring-type">
					<option value="">Ring Type</option>
					<option value="p">Pendant</option>
					<option value="f">Flaring</option>
					<option value="l">Large</option>
					<option value="Missing">Missing</option>
				</select>

				<select id="spore-print-color" name="spore-print-color">
					<option value="">Spore Print Color</option>
					<option value="k">Black</option>
					<option value="n">Brown</option>
					<option value="u">Purple</option>
					<option value="w">White</option>
					<option value="g">Green</option>
				</select>

				<button type="submit" class="predict-btn">Predict</button>
			</div>
		</form>

		{% include "components/bottom-bar.html" %}
	</body>
</html>
