<!DOCTYPE html>
<html>
	<head>
		<title>Mushroom predictor</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
	</head>
	<body>
		{% include "components/shopping-cart.html" %}
		<h1>Home</h1>
		<p onclick="window.location=''">Why are these questions asked?</p>
		<form action="/mushroom-questions" class="vertical-group" method="post"">
			<input name="country" placeholder="Country..." />
			<input name="street" placeholder="Street..." />
			<p>Are you married?</p>
			<div class="horizontal-group">
				<p>Yes/no</p>
				<input type="checkbox" name="married" />
			</div>
			<input name="email" placeholder="Email..." required />
			<input name="phone" placeholder="Phonenr..." required />
			<input name="gender" placeholder="Gender..." required />
			<input name="pets" placeholder="Amount of pets..." required />
			<input name="food" placeholder="Favourite food..." required />
			<input name="location" placeholder="Current address..." required />
			<input name="device" placeholder="What device are you using?" required />
			<input name="occupation" placeholder="Occupation..." required />
			<input name="sleep" placeholder="Average sleep duration..." required />
			<input name="shoe_size" placeholder="Shoe size..." required />
			<input name="hay_day" placeholder="Hay Day level...." required />
			<input name="allergies" placeholder="Do you have allergies?" required />
			<button>To prediction</button>
		</form>

		{% include "components/bottom-bar.html" %}
	</body>
</html>
